[Unit]
Description=Etcd distributed key-val store
After=network.target

[Service]
Environment=ETCD_NAME=pi-etcd
Environment=ETCD_DATA_DIR=/var/etcd
Environment=ETCD_INITIAL_CLUSTER=pi-etcd=http://localhost:2380
Environment=ETCD_INITIAL_CLUSTER_STATE=new
Environment=ETCD_INITIAL_CLUSTER_TOKEN=pi-etcd-cluster
Environment=ETCD_INITIAL_ADVERTISE_PEER_URLS=http://localhost:2380
Environment=ETCD_LISTEN_PEER_URLS=http://localhost:2380
Environment=ETCD_LISTEN_CLIENT_URLS=http://localhost:2379
Environment=ETCD_ADVERTISE_CLIENT_URLS=http://localhost:2379
ExecStart=/bin/sh -c '/usr/local/bin/etcd >> /var/log/etcd.log 2>&1'

[Install]
WantedBy=mutli-user.target
